.input {
  background-image: url(../../../public/icon/search.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  border: 1px solid #d3d4d8;
  border-radius: 2px;
  height: 40px;
  padding-left: 40px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #abacb3;
  top: 33.33%;
}
